@import '../../.cache/wal/colors-waybar.css';


@define-color background-module alpha(@color-five, .3);
@define-color background-transparent @transparent;
@define-color color-one @foreground;
@define-color color-two @color15;
@define-color color-three @color6;
@define-color color-four @color2;
@define-color color-five @color0;

/*Space options general*/
* {
  font-family: fontawesome;
  font-size: 10px;
  font-weight: bold;
  border-radius: 10px;
  color: @color-two;
}

/*Space waybar*/
window#waybar {
  background: @background-module;
}

window#waybar.empty #window {
  border: 0px;
  background: @background-transparent;
}

#window {
  padding: 2px 10px;
}

/*Space workspaces left*/
/*#workspaces {
  background: @background-module;
}*/

/*center*/
#workspaces button {
  transition: .5s all;
  border: none;
  outline: none;
}

/*right*/
#workspaces button:hover,
#workspaces button.active,
#workspaces button.visible {
  background: @background-module;
}

/*Space Systemtray*/
#custom-notification,
#clock,
#tray,
#pulseaudio,
#backlight,
#cpu,
#memory,
#temperature {
  padding: 2px 10px;
}
